body, div, img, a, p {
	margin: 0; 
	padding: 0;
}
.header {
	font-size:160%;
	margin:20px 0 16px 0;
	color:white;
	text-shadow:black 0px 0px 2px,violet 0px 0px 10px,aqua 0px 0px 20px;
}
html {
	min-height: 100%;
}
a:active, a:focus, img {
	outline: 0;
}
img {
	border:none;
}
a, a:visited, a:hover, a:active {
	text-decoration: none;
}
body {
	font-family:"Trebuchet MS",Helvetica,sans-serif;
	cursor: default; 
	min-width: 590px; 
	color: #FFFFFF; 
	background: #000103 url(../images/bg.jpg) center 0px; 
	text-align: center; 
	min-height: 637px;
	-o-background-size: 100% auto; 
	-webkit-background-size: cover; 
	-khtml-background-size: cover; 
	-moz-background-size: cover; 
	background-size: cover; 
}
.wnd {
	position: absolute; 
	width: 450px; 
	height: 485px; 
	background: url(../images/wndBg.png) no-repeat; 
	left: 43%; 
	top: 55%; 
	margin: -280px 0 0 -220px; 
	padding-top: 20px;
}
.step {
	overflow: hidden;
}
.step.n2, .step.n3, .step.n4, .step.n5 {
	display: none;
}
.step.n4 {
	height: 0; 
	margin-top: 100px;
}
.yellow {
/*	font: 400 15px/24px 'PT Sans'; */
	font-family:"Trebuchet MS",Helvetica,sans-serif;
	font-size:15px;
	color: #f9c604; 
	border: 1px solid #f9c604; 
	background:rgba(241,144,32,0.09); 
	width:	350px; 
	margin: 15px 31px 30px; 
	padding: 10px 17px 10px;
}
.yellow span {
	font-size: 26px; 
	color:	#fff;
}
.white {
	width: 375px; 
	margin: 0 auto; 
	font-size: 15px;
	line-height: 1.5;
}
.step.n1 .white {
	margin-bottom: 0px;
}
.step.n2 .white {
	margin-bottom: 10px;
}
.step.n3 .white {
	margin-bottom: 10px;
}
.step.n4 .white {
	margin-bottom: 10px;
}
.step.n5 .white {
	margin-bottom: 25px; 
	line-height: 20px;
}
.step.n5 .yellow {
	margin-bottom: 20px;
}
.q {
	width: 370px; 
	font-size: 15px; 
	margin: 0 auto 20px; 
	line-height: 1.7;
}
.step.n2 .q {
	margin-bottom: 10px;
}
.btnBox {
	font: 400 20px/46px 'PT Sans';
}
.btn {
	display: inline-block; 
	width: 147px; 
	height: 72px;
	text-transform: uppercase; 
	font: 600 16px/72px 'PT Sans'; 
	margin: 0 12px; 
	color: #FFFFFF;
}
.btn.green {
	background: url(../images/btn-green.png); 
}
.btn.red {
	background: url(../images/btn-red.png);
}
.wait {
	margin-bottom: 120px;
}
.progressBarBox {
	width: 350px; 
	height: 33px; 
	margin: auto;
}
.progressBar {
	width: 0; 
	height: 33px; 
	background: url(../images/progressBar.png) 0px; 
	border-radius: 3px;
}
.breaker {
	width: 349px; 
	height: 1px; 
	background: #caa60b; 
	margin: 29px auto; 
	clear: both;
}
.step .breaker {
	margin: 30px auto;
}
.step.n2 .breaker {
	margin: 25px auto
}

@-webkit-keyframes tada{0%{-webkit-transform:scale(1);}10%,20%{-webkit-transform:scale(0.9) rotate(-1deg);}30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(1deg);}40%,60%,80%{-webkit-transform:scale(1.1) rotate(-1deg);}100%{-webkit-transform:scale(1) rotate(0);}}@keyframes tada{0%{-webkit-transform:scale(1);transform:scale(1);}10%,20%{-webkit-transform:scale(0.9) rotate(-1deg);transform:scale(0.9) rotate(-1deg);}30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(1deg);transform:scale(1.1) rotate(1deg);}40%,60%,80%{-webkit-transform:scale(1.1) rotate(-1deg);transform:scale(1.1) rotate(-1deg);}100%{-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0);}}

.tada {
	-webkit-animation-name:tada;
	animation-name:tada;
}
.animated {
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}